<app-chunk-hex-viewer
  [wavId]="wavId()"
  [chunkId]="chunk().id"
  [chunkFourCC]="chunk().chunkId"
  [chunkSize]="chunk().size"
  [highlights]="junkHighlights"
  [activeHighlight]="activeHighlight()"
/>

<div class="card junk-card"
  (mouseenter)="activeHighlight.set('Data')" (mouseleave)="activeHighlight.set(null)">
  <p class="junk-title">Padding chunk</p>
  <p class="junk-desc muted text-sm">
    Tento chunk slouží k zarovnání velikosti souboru
    a neobsahuje žádná užitečná data.
  </p>
  <p class="junk-size muted text-sm">Velikost: {{ chunk().size | number }} B</p>
</div>